@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  overflow-y: hidden;
}

body {
  background-image: linear-gradient(to top left, #0B132B, #3A506B);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown-box {
  position: absolute;
  top: 0;
  left: calc(275% + 10px); /* Adjust the distance from the icon */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 3px #000000);
  padding: 5px;
  transition: transform 0.3s ease; /* Adjust the smoothness of the animation */
  transform: translateX(100%);
}

.dropdown-item {
  cursor: pointer;
}

.placeholder-top-5::placeholder {
  position: relative;
  top: 0px;
  font-family: 'Montserrat';
}

.placeholder-left-10::placeholder {
  position: relative;
  left: 10px;
}

.portalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #3A506B, #1C2541, #0B132B);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}


.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 24px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
